@model WebApplication1.Models.Survey

@{
    ViewBag.Title = "Yearly survey";
}

<h2>Please help us with this!!</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Please answer the following:</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.First_Name, "What is your first name?" , htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Name, "What is your last name?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email_Address, "What is your email address", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email_Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email_Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GPS_Used, "What GPS brand do you use", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.GPS_Used,  new SelectList(
                              new List<Object>
                {
                    new { value = 0 , text = "Garmin"  },
                    new { value = 1 , text = "TomTom" },
                    new { value = 2 , text = "Navsat"},
                    new { value = 3 , text = "Magellan"},
                    new { value = 4, text ="Bushnell"},
                    new { value = 5, text ="I Use my smartphone"},

                },
                "value",
                "text",
                2))
                
                
                @Html.ValidationMessageFor(model => model.GPS_Used, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Satisfied, "Are you happy with your GPS service", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Satisfied, new SelectList(
                              new List<Object>
                {
                    new { value = 0 , text = "Strongly Agree!"  },
                    new { value = 1 , text = "Slightly Agree" },
                    new { value = 2 , text = "Agree"},
                    new { value = 3 , text = "Neutral"},
                    new { value = 4, text = "Slightly Disagree"},
                    new { value = 5, text = "Disagree"},
                    new { value = 6, text = "Strongly disagree"},

                },
                "value",
                "text",
                2))

                @Html.ValidationMessageFor(model => model.Satisfied, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send my survey" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
