@model IEnumerable<WebApplication1.Models.survey_results>

@{
    ViewBag.Title = "Index";
}

<h2>Survey Results</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.total_surveys)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_users)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stat_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentage_completed)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.total_surveys)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_users)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stat_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentage_completed) %
        </td>

    </tr>
}

</table>
